---
permalink: /fahrzeuge/volvo-v70-t5-summum-rhd/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,follow">
  <meta http-equiv="refresh" content="0; url={{ '/fahrzeuge/volvo-v70-t5-summum-rhd-8656/' | url }}">
  <link rel="canonical" href="{{ site.url }}/fahrzeuge/volvo-v70-t5-summum-rhd-8656/">
  <title>Volvo V70 T5 Summum – aktuelles Angebot</title>
</head>
<body>
  <p>Das aktuelle Angebot finden Sie <a href="{{ '/fahrzeuge/volvo-v70-t5-summum-rhd-8656/' | url }}">hier</a>.</p>
</body>
</html>
